.form-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-text {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0px 0px 8px 0px;
}

.input-box {
  padding: 8px;
  background-color: #333c44;
  outline: none;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid transparent;
  box-shadow: none;
  color: white;
  transition: 0.2s ease;
}

.input-box-large {
  padding: 8px;
  background-color: #333c44;
  outline: none;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid transparent;
  box-shadow: none;
  color: white;
  transition: 0.2s ease;
  resize: vertical;
}

.input-box-large::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.input-box:focus {
  border: 2px solid #4caf50;
  box-shadow: none;
  outline: none;
  transition: 0.2s ease;
}

.input-box-large:focus {
  border: 2px solid #4caf50;
  box-shadow: none;
  outline: none;
  transition: 0.2s ease;
}

.difficulties {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.difficulties > * {
  flex: 1;
  text-align: center;
  transition: 0.2s ease;
}

.difficulties > *:hover {
  cursor: pointer;
  user-select: none;
}

.difficulty-easy {
  background-color: #3c4c39;
}

.difficulty-intermediate {
  background-color: #524937;
}

.difficulty-hard {
  background-color: #473232;
}

#easy:hover ~ .difficulty-easy {
  background-color: #587e52;
}

#intermediate:hover ~ .difficulty-intermediate {
  background-color: #7e673c;
}

#hard:hover ~ .difficulty-hard {
  background-color: #753737;
}

#easy:checked ~ .difficulty-easy {
  background-color: #6cd55c;
}

#intermediate:checked ~ .difficulty-intermediate {
  background-color: #e2b053;
}

#hard:checked ~ .difficulty-hard {
  background-color: #d55353;
}
