.chord-details-title {
  display: flex;
  color: #ec661a;
  font-size: 43px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  justify-content: flex-start;
}

.chord-details-container {
  display: flex;
  flex-direction: column;
  padding: 35px 65px;
  gap: 25px;
}

.chord-details-contents {
  display: flex;
}

.chord-details-info {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 25px;
  padding: 0;
  margin: 0;
}

.chord-details-lyrics {
  white-space: break-spaces;
}

.chord-image {
  width: 100%;
}

.chord-image img {
  width: 100%;
}

.chord-name {
  display: flex;
  font-size: 22px;
  font-weight: 600;
  width: 50%;
  justify-content: center;
}

.chord-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
