.song-finder-container {
  display: flex;
  flex-direction: column;
  padding: 35px 0px 25px 65px;
  gap: 25px;
}

.song-finder-title {
  display: flex;
  color: #ec661a;
  font-size: 43px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  justify-content: flex-start;
}

.song-finder-contents {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
}

.s-left-card {
  padding: 50px 30px;
}

.song-finder-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
