.song-finder-container {
  display: flex;
  flex-direction: column;
  padding: 35px 65px 25px 65px;
  gap: 25px;
}

.song-finder-title {
  display: flex;
  color: #ec661a;
  font-size: 43px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  justify-content: flex-start;
}

.song-finder-contents {
  display: flex;
  gap: 48px;
  padding: 10px;
  justify-content: center;
}

.song-finder-contents > :first-child {
  flex: 1;
}

.song-finder-contents > :nth-child(2) {
  flex: 2;
  position: relative;
}

.song-finder-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.song-finder-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
